/* Default styles for all pages */
@page {
    size: A4;
    margin: 20mm;
}

/* Define styles for the header image on all pages except the first */
@page {
    @top-left {
        content: "";
        display: block;
        background-image: url('chapter-subheader-image.jpg');
        background-size: 100% 28px; /* Scale the image to 100% width and 28px height */
        background-repeat: no-repeat;
        height: 28px; /* Height of the header image */
        width: 100%; /* Width of the header image spans the full page width */
        margin: 0;
        padding: 0;
        padding-top: 28px;
    }
    @bottom-center {
        content: element(footer);
    }

    @bottom-center {
        content: "domain.com";
        margin-top: 12px;
        font-family: Arial, sans-serif;
        font-size: 0.9rem;
        color: #333;
    }
}
footer {
    position: running(footer);
}
/* Exclude the header image from the first page */
@page :first {
    margin: 0mm; /* Ensure no extra margin for the first page */
    @top-left {
        content: none; /* Remove the header image from the first page */
    }
    @bottom-center {
        content: none; /* Remove the header image from the first page */
    }
}

/* Style for body to ensure no extra margins */
body {
    margin: 0;
    padding-top: 0px; /* Ensure content does not overlap the header image */
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

/* Cover Page */
.cover-page {
    width: 210mm; /* A4 width */
    height: 297mm; /* A4 height */
    background-image: url('cover-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Ensures full page coverage */
}

.cover-text {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 600px; /* Adjust width as needed */
    text-align: center;
}

/**/

.content-page {
    display: block;
    page-break-before: always;
  } 

.heading-1 {
    color: #333;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 38px;
    font-weight: 700;
    line-height: 44px;
  }
  
  .heading {
    color: #333;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
  }
  
  .heading-2 {
    color: #333;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
  }
  
  .heading-3 {
    color: #333;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
  }
  
  .heading-4 {
    color: #333;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }
  
  .heading-5 {
    color: #333;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
  }
  
  .paragraph {
    color: #333;
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    position: relative;
  }
  
  .list {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 40px;
    padding-right: 0;
  }
  
  .list-item {
    color: #333;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  
  .list-2 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 40px;
    padding-right: 0;
  }
  
  .link {
    color: #336ad1;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: underline;
  }
  
  .block-quote {
    color: #0d193d;
    text-align: left;
    background-color: #e2f4ff;
    border-left: 5px solid #0d193d;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
  }
  
  .image-holder {
    width: 100%;
    display: grid;
  }

  .image-c {
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
  }
  
  .image-l {
    width: 100%;
    max-width: 400px;
    margin: 10px auto 10px 0;
  }
  
  .image-r {
    width: 100%;
    max-width: 400px;
    margin: 10px 0 10px auto;
  }

  .button-holder {
    margin: 20px;
    padding: 20px;
    display: grid;
    justify-content: center;
  }
  
  .button {
    color: #fff;
    text-align: center;
    cursor: pointer;
    background-color: #3898ec;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
  }
  
  .element-1 {
    background-color: #e2f4ff;
    border-radius: 16px;
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    display: block;
  }
  
  .element-1-top {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
  }
  
  .element-1-heading {
    color: #2936be;
    text-align: left;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
  }
  
  .element-1-icon {
    width: 40px;
    margin-left: auto;
  }
  
  .element-1-paragraph {
    color: #333;
    text-align: left;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  .element-2 {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    display: block;
  }
  
  .element-2-heading {
    color: #2936be;
    text-align: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
  }
  
  .tag {
    color: #0d1036;
    text-align: center;
    border: 1px solid #2936be;
    border-radius: 64px;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
    margin-right: 4px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    max-width: fit-content;
  }
  
  .tag p {
    margin: 0;
  }

  .tag.red {
    color: #360d0d;
    background-color: #f5acac;
    border-color: #f5acac;
  }
  
  .tag.yellow {
    color: #34360d;
    background-color: #f0f5ac;
    border-color: #f0f5ac;
  }
  
  .tag.orange {
    color: #36230d;
    background-color: #f5d3ac;
    border-color: #f5d3ac;
  }
  
  .element-2-tag-block {
    margin-top: 8px;
    margin-bottom: 8px;
    display: grid;
    grid-template-columns: auto auto auto;
    width: fit-content;
    }

  .element-2-tag-block-2c {
    grid-template-columns: auto auto;
  }
  
  .element-2-paragraph {
    color: #333;
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    position: relative;
  }
  
  .element-3 {
    display: grid;
    grid-template-columns: 50% 30%;
    align-items: center;
    justify-content: space-between;
  }
  
  .element-2-zodiac {
    margin-left: 10px;
    color: #be2929;
  }
  
  .element-4 {
    background-color: #e2e6ff;
    display: grid;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 16px auto;
    padding: 16px;

  }
  
  .element-4-heading {
    color: #2936be;
    text-align: center;
    width: 100%;
    margin: 20px auto 10px;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
  }
  
  .element-4-heading-2 {
    color: #333;
    text-align: center;
    width: 100%;
    margin: 20px auto 10px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }
  
  .element-4-separator { 
    width: 200px;
    margin: 16px auto;
  }
